<div data-ng-controller="ViewChannelMappingController">
	<div class="paddedbottom10">
	  <ul class="breadcrumb">
			<li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/broadcasterchannelmapping" ng-click="gobroadcasterchannelmapping()">{{'label.broadcasterChannelMapping' | translate}}</a> <span class="divider">/</span></li>
	        <li class="active">{{'label.ViewChannelMapping' | translate }}&nbsp;&nbsp;</li>
	  </ul>
	      <div class="pull-right">
	      <div class="btn-group">
	         <a data-ng-show="PermissionService.showMenu('UPDATE_CHANNELMAPPING')" href="#/EditChannelMapping/{{channelMapping.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> Edit</a>
	         <a data-ng-show="PermissionService.showMenu('DELETE_CHANNELMAPPING')" data-ng-click="deleteChannelMapping()" class="btn btn-primary"><i class="icon-trash icon-white"></i> Delete</a>
	      </div>
	      </div>
	</div>
    <div class="row paddedleft">
    <table style="width:100%;">
             <tr>
				<td width="20%">{{ 'label.servicedescription' | translate }}</td>
				<td width="70%">{{channelMapping.serviceDescription}}</td>
			</tr>
            <tr>
				<td>{{ 'label.channelname' | translate }}</td>
				<td>{{channelMapping.channelName}}</td>
			</tr>
    </table>    
    </div>
    <script type="text/ng-template" id="ChannelMapping.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">Delete ChannelMapping</h3>
                    </div>
                    <div class="modal-body style="height:60px;">
                       <h4>Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
                    </div>
      </script>
  </div>