<div class="row-fluid">
	<div class="span3">
		<div style="background-color:#FFC40D;padding:40px">
	    	<a class="quick-button">
				<i class="icon-group icon-5x icon-white1 icon-center" style="padding-left: 57px;"></i>
				<span class="badge" style="background:none">1</span><br>
				<p style="color:#fff">Users</p>
			</a>
		</div>
     </div>
     <div class="span3">
     	<div style="background-color:#00A300;padding:40px">
	    	<a class="quick-button">
				<i class="icon-comments-alt icon-5x icon-white1 icon-center" style="padding-left: 57px;"></i>
				<span class="badge" style="background:none">1</span>
				<p style="color:#fff">Users</p>
			</a>
		</div>
     </div>
     <div class="span3">
    	<div style="background-color:#9F00A7;padding:40px">
	    	<a class="quick-button">
				<i class="icon-shopping-cart icon-5x icon-white1 icon-center" style="padding-left: 57px;"></i>
				<span class="badge" style="background:none">2</span>
				<p style="color:#fff">Users</p>
			</a>
		</div>
     </div>
     <div class="span3">
    	<div style="background-color:#EB3C00;padding:40px">
	    	<a class="quick-button">
				<i class="icon-barcode icon-5x icon-white1 icon-center" style="padding-left: 57px;"></i>
				<span class="badge" style="background:none">3</span>
				<p style="color:#fff">Users</p>
			</a>
		</div>
     </div>
</div>